[Desktop Entry]
Type=Application
Name=Khopper
Exec=khopper %U
Categories=AudioVideo;Audio;Qt;
Encoding=UTF-8
Icon=__ICON__
Terminal=false
GenericName=Khopper
Comment=An audio converter
